/**
 * @file
 * Style the module's help page.
 */

/*
 * Highlight section titles.
 */
.chart_suite-admin-help h3 {
  margin-top: 2em;
  border-bottom: 1px solid #ccc;
  clear: both;
}
.chart_suite-admin-help h4 {
  margin-top: 2em;
  border-bottom: 1px solid #ccc;
  clear: both;
}
.chart_suite-admin-help h4:first-child {
  clear: none;
}

/*
 * Indent bullet lists.
 */
.chart_suite-admin-help ul,
.chart_suite-admin-help dl {
  margin: 0.25em 0 0.25em 1.5em;
  margin-left: 1em;
}
ul,
.chart_suite-admin-help ul {
  padding-left: 1.5em;
}

.chart_suite-formatter-list {
  margin-left: 1em;
}
.chart_suite-formatter-list dt {
  font-size: 1.05em;
  font-weight: bold;
  color: #000058;
  clear: both;
}

/*
 * Add a margin at the bottom of the help section.
 */
.chart_suite-admin-help {
  margin-bottom: 2em;
}

.chart_suite-admin-help img {
  float: right;
}

/*
 * Style a footer containing a set of icons for institutions involved
 * in creating the module.
 */
.chart_suite-admin-footer {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
  border-top: 1px solid #ccc;
  clear: both;
}
.chart_suite-admin-footer-icons {
  text-align: center;
  vertical-align: middle;
  height: 72px;
}
.chart_suite-admin-footer-icons img {
  padding-left: 1em;
  padding-right: 1em;
  float: none;
}

/*
 * Style the table-of-contents to be a tight list.
 */
ul.chart_suite-toc,
ul.chart_suite-toc ul,
ul.chart_suite-toc li {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul.chart_suite-toc {
  margin-left: 2em;
}

/*
 * Style a branding box at the top of the page.
 */
.chart_suite-help-branding {
  padding: 6px;
  margin-left: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: right;
  width: 400px;
  background: #fff;
  font-weight: 500;
  text-align: center;
}

.chart_suite-help-branding img {
  float: none;
}
