/**
 * Module-wide base styling
 * ------------------------
 * Defines base styling for the module's presentation of content.
 */

/*--------------------------------------------------------------------
 *
 * File fields formatted as HTML or JSON + JavaScript
 *
 *--------------------------------------------------------------------*/
/* Wrapper */
.chart_suite-file {
  margin-bottom: 2em;
}

.chart_suite-file-chart-wrapper {
  height: 600px;
}

/* Menu */
.chart_suite-file-select-wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
.chart_suite-file select {
  font-size: 1em;
  min-width: 20em;
}

/* Description */
.chart_suite-description {
  padding-top: 1em;
  margin-bottom: 1em;
  margin-left: 60px;
  margin-right: 60px;
  font-style: italic;
  clear: both;
}

/*--------------------------------------------------------------------
 *
 * File fields formatted as HTML
 *
 *--------------------------------------------------------------------*/
/* Tables */
.chart_suite-table {
  border: 1px solid #000;
}
.chart_suite-table-caption {
  font-weight: bold;
  font-style: italic;
  margin: 0;
  text-align: center;
}
.chart_suite-table thead tr {
  border-bottom: 1px solid #000;
  background: #888;
}
.chart_suite-table thead tr th {
  border-bottom: 1px solid #000;
  background: #888;
}
.chart_suite-table-odd-row {
  background: #eee;
}
.chart_suite-table-even-row {
  background: #ddd;
}

/* Trees */
.chart_suite-tree {
  border: 1px solid #000;
  padding: 0.5em;
  background: #eee;
}
.chart_suite-tree-caption {
  font-weight: bold;
  font-style: italic;
  margin: 0;
  text-align: center;
}
.chart_suite-tree ul.chart_suite-tree-list {
  margin: 0 !important;
}

/* Graphs */
.chart_suite-graph {
  border: 1px solid #000;
}
.chart_suite-graph-caption {
  font-weight: bold;
  font-style: italic;
  margin: 0;
  text-align: center;
}
.chart_suite-graph-odd-row {
  background: #eee;
}
.chart_suite-graph-even-row {
  background: #ddd;
}

/*--------------------------------------------------------------------
 *
 * File fields formatted Google Charts
 *  Google Charts adds a lot of its own styling for widgets and labels,
 *  but these are incompatible with a site's own styling. Disable all
 *  off them.
 *
 *--------------------------------------------------------------------*/
.chart_suite-file .google-visualization-orgchart-table {
  font-family: inherit !important;
  font-size: inherit !important;
  border-collapse: separate;
}
.chart_suite-file .google-visualization-orgchart-table * {
  padding: 1px !important;
}
.chart_suite-file .google-visualization-orgchart-table tr {
  background: none;
  border-bottom: none;
}
.chart_suite-file .google-visualization-orgchart-node {
  font-family: inherit !important;
  border-radius: 8px !important;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.chart_suite-file .google-visualization-orgchart-node-small {
  font-size: inherit !important;
}

.chart_suite-file .google-visualization-table {
  border: inherit !important;
}
.chart_suite-file .google-visualization-table-table {
  margin: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  border-spacing: inherit !important;
  border-collapse: inherit !important;
  background: inherit !important;
}
.chart_suite-file .google-visualization-table-tr-head {
  background-color: inherit !important;
  font-weight: inherit !important;
  text-align: inherit !important;
  text-align: right;
}
.chart_suite-file .google-visualization-table-table th,
.chart_suite-file .google-visualization-table-th {
  position: inherit !important;
  z-index: inherit !important;
  border: inherit !important;
  border-width: inherit !important;
  padding: inherit !important;
  white-space: inherit !important;
  background-clip: inherit !important;
  background-color: inherit !important;
  color: inherit !important;
  text-align: right;
}
.chart_suite-file .google-visualization-table .gradient {
  background-image: inherit !important;
}
.chart_suite-file .google-visualization-table-div-page {
  background-color: inherit !important;
  font-family: inherit !important;
}
