/**
 * @file
 * Style settings forms for the Chart Suite's field formats.
 */

/*-----------------------------------------------------------------------
 *
 * General.
 *
 *-----------------------------------------------------------------------*/

/* Wrapper around each of the module's settings for Field UI & View UI. */
.chart_suite-field-formatter-settings {
  padding: 0.5em 0.5em 0 0.5em;
  max-width: 40em;
}

.chart_suite-field-formatter-settings .chart_suite-field-formatter-settings-description {
  padding-left: 0;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
  margin-top: -0.25em;
}
.chart_suite-field-formatter-settings .chart_suite-field-formatter-settings-description p {
  margin: 0 0 1em 0;
}

.chart_suite-field-formatter-settings .chart_suite-field-formatter-settings-warning {
  /*
   * For charts that are not fully configured, highlight a warning.
   */
  font-style: italic;
  color: #834343;
  padding-left: 0;
  padding-bottom: 0.5em;
}

.chart_suite-field-formatter-settings .form-item {
  /*
   * Indent form items.
   */
  padding-left: 0;
  padding-bottom: 0.5em;
  margin: 0;
}
.chart_suite-field-formatter-settings .form-item.form-disabled {
  /*
   * When form items are disabled, dim them into the background.
   */
  opacity: 0.5;
}
.chart_suite-field-formatter-settings .form-item label {
  /*
   * Insure form items have their label beside the input. Give them a
   * preferred width so that they line up.
   */
  display: inline-block;
  min-width: 9em;
}
.chart_suite-field-formatter-settings .form-item select,
.chart_suite-field-formatter-settings .form-item input[type=color],
.chart_suite-field-formatter-settings .form-item input[type=number],
.chart_suite-field-formatter-settings .form-item input[type=text],
.chart_suite-field-formatter-settings .form-item input[type=textfield],
.chart_suite-field-formatter-settings .form-item input[type=textarea] {
  /*
   * Insure form item inputs are beside their labels. Give them a
   * preferred width so all of the inputs line up and look similar.
   */
  display: inline-block;
  min-width: 20em;
  width: 20em;
}
.chart_suite-field-formatter-settings .form-item input[type=checkbox] {
  width: 1em;
}
.chart_suite-field-formatter-settings .form-item .description {
  /*
   * Indent the description to be under the input and make it distinct
   * from the rest of the settings text.
   */
  font-size: 100%;
  font-style: italic;
  padding-left: 10em;
}
.chart_suite-field-formatter-settings .form-type-checkbox .description {
  padding-left: 1em;
  margin-left: 0;
}

.chart_suite-field-formatter-settings .chart_suite-section-break {
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
}
