/**
 * @file
 * Administrator settings page styling.
 */

/*-----------------------------------------------------------------------
 *
 * Tab layout.
 *
 * These rules style vertical tabs and tab panes.
 *
 *-----------------------------------------------------------------------*/

/*
 * Each vertical tab pane begins with an <h2> title, followed by
 * a description. Make the title bigger and bold.
 */
details.chart_suite-settings-tab h2 {
  font-size: 1.2em;
  font-weight: bold;
}

/*
 * Add a border below the tab pane title and subtitle.
 */
details.chart_suite-settings-tab .details-description {
  border-bottom: 1px solid #000;
}

/*
 * Each group of settings on a tab pane begins with an <h3> title,
 * followed by a section block with a description and form widgets.
 * Make the title bigger and bold. Indent the section. Put labels
 * beside their form widgets.
 */
details.chart_suite-settings-tab h3 {
  font-size: 1.1em;
  font-weight: bold;
}

/*
 * Add a border below each section on a tab pane.
 */
details.chart_suite-settings-tab .chart_suite-settings-section {
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

details.chart_suite-settings-tab dt {
  font-weight: bold;
}

/*
 * Make all labels beside their inputs.
 */
details.chart_suite-settings-tab label {
  display: inline-block;
  min-width: 7em;
}

/*
 * Scoot over buttons so they line up under text above them.
 */
details.chart_suite-settings-tab .button {
  margin-left: 0;
}
#edit-chart_suite-file-restore-allowed-extensions {
  margin-bottom: 1em;
}
