/**
 * @file
 * Styles for module branding.
 */

/*
 * Style a branding banner, typically added to the help page and
 * an "About" tab on the module settings form.
 */
.chart_suite-banner-branding {
  padding: 6px;
  margin-left: 1em;
  float: right;
  width: 400px;
  border-top: 1px solid #eee;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
  background: linear-gradient(to bottom, #f8f8f8, #e0e0e0, #f0f0f0);
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, Tahoma, sans-serif;
  font-weight: 600;
  color: #666;
  text-shadow: 1px 1px #fff;
}
.chart_suite-banner-branding a {
  font-weight: 900;
  font-variant: small-caps;
}

.chart_suite-banner-branding img {
  float: none;
}

/*
 * Style the branding banner on a module settings form.
 */
details.chart_suite-settings-tab .chart_suite-banner-branding {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/*
 * Style the branding logo and background for a field formatter form.
 */
.chart_suite-field-formatter-settings {
  border-top: 1px solid #eee;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #ccc;
  background: linear-gradient(to bottom left, #d8d8d8, #f8f8f8);
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, Tahoma, sans-serif;
  font-weight: 600;
  color: #666;
  text-shadow: 1px 1px #fff;
}

.chart_suite-field-formatter-settings .chart_suite-settings-description {
  font-weight: 900;
  border-bottom: 1px solid #aaa;
}
.chart_suite-field-formatter-settings .form-item label {
  color: #000;
  font-weight: 500;
}
.chart_suite-field-formatter-settings .chart_suite-section-break {
  border-bottom: 1px solid #aaa;
}
