{#
/**
 * @file
 * Render a file field's file features
 * for use by search indexing. This presentation is
 * not shown directly to a user, but will be visible
 * in summarized search results.
 *
 * Because search indexing removes all HTML tags
 * and executes no scripts or CSS, we only need to
 * include relevant variables as text.
 *
 * @ingroup themeable
 */
#}
{{ filename }}
{{ markup }}
