{#
/**
 * @file
 * Chart a tree.
 *
 * This template fills in a representation of a file field,
 * showing the data using Google Charts. To load
 * the chart, a script must be run and pointed at a <div>.
 *
 * To allow multiple charts to a page, the <div> is given an
 * ID based upon Drupal's unique numeric ID for the file field
 * entity.
 *
 * The file field can be added to a page while the page is
 * being built, or later via AJAX. When added while the page
 * is being built, the script is encountered by the browser
 * before JS for Drupal, the chart_suite module, or Google Charts
 * has loaded, so we can't call those directly. So we have to
 * queue the script for later execution. This is done by marking
 * the div with a class marker and attaching the script as a
 * property. Later, when the chart_suite module is loaded, we'll
 * search for all marked classes and run their scripts.
 *
 * When the file field is added via AJAX, Drupal JS has already
 * loaded and we can skip the class marker and queue the script
 * using Drupal behaviors.
 *
 * @ingroup themeable
 */
#}
<div class="chart_suite-file">
  {% if dolink %}
  <div class="chart_suite-download">
    <a href="{{ uri }}">{{ filename }}</a> ({{ filesize }} bytes)
  </div>
  {% endif %}
  <p class="chart_suite-tree-caption">{{ title }}</p>
  <div id="chart_suite-{{ id }}">
  <script>
    var fun = function() {
      var data = {
        type:  'tree',
        data: google.visualization.arrayToDataTable({{ markup }})
      };
      Drupal.chart_suite.buildTreeChartDiv("chart_suite-{{ id }}", data);
    };
    if (typeof Drupal === 'object') {
      Drupal.behaviors.chart_suite_{{ id }} = { attach: fun };
    }
    else {
      var divid = document.getElementById("chart_suite-{{ id }}");
      divid.chart_suite_pending = fun;
      divid.setAttribute( "class", "chart_suite_pending" );
    }
  </script>
  </div>
  <div class="chart_suite-description">{{ description }}</div>
</div>
